header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color: whitesmoke; 
    font-family: 'Advent Pro', sans-serif; 
}
main{
    background-color: white;
    padding: 16px;
}
.my-class-name :hover {
    color: red;
}
#my-unique-id {

}
.finstagram-post{
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
  }
  .finstagram-post .user-info h3 {
      font-size:20px;
  }
h3 {
    font-size: 15px;
}
a.photo {    
    transition: padding 0.5s;
}
a.photo:hover{    
    padding: 10px;
}